@import '~antd/dist/antd.min.css';
@import '~antd/dist/antd.dark.css';
html,
body {
  font-family: 'Medium';
  width: 100%;
  height: 100%;
  overflow: hidden;
  --antd-wave-shadow-color: black;
  scrollbar-width: none !important;
  scrollbar-color: transparent transparent;
}
.hoStat {
  padding: 2px 10px;
}
.hoStat:hover {
  border: 0 #000 solid;
  border-radius: 5px;
  background: #3c3f45 !important;
}
.controller {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.scrollIssue::-webkit-scrollbar {
  display: none;
  scrollbar-width: 1px !important;
}

.ant-tooltip-inner {
  font-size: 14px;
  font-weight: bold;
}

.App {
  text-align: center;
}

.ant-collapse-header-text {
  font-weight: 700;
  color: #a1a1a1;
}

.imgS2 {
  height: 38px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.menu {
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.messageItem {
  /* border-bottom: 1px solid #A1A1A1; */
  font-size: 15px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat {
  background: #36393f;
  min-width: 100%;
  max-height: 100vh;
  display: flex;
  max-width: 70vw !important;
  flex-direction: column;
}

.message::-webkit-scrollbar {
  display: none;
}

.message {
  height: calc(95vh - 44px) !important;
  overflow-y: scroll;
  width: 1380px !important;
}

.messageCam {
  height: calc(100vh - 44px) !important;
  overflow-y: scroll;
  width: 1380px !important;
}

.messageItemContentName {
  color: #dcdcdc;
  font-size: 15px;
  font-weight: bold;
}

.messageItemContent {
  color: #dcdcdc;
  font-size: 14.5px;
}

.time {
  margin-left: 5px;
  color: #979797;
  font-size: 12px;
  font-weight: 500;
}

.chatbar {
  background: transparent;
  margin: auto;
  height: 5vh;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  background-color: #40444b;

  border-color: #40444b;

  color: #e2e2e2;
}

.emoji-picker-react {
  box-shadow: none !important;
}

.inputMain:hover {
  background-color: #40444b !important;
}

.inputMain:focus {
  background-color: #40444b !important;
}
.inputMain::selection {
  background-color: #40444b !important;
}

.statusBar {
  background: #404040;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-body {
  background-color: #535353;
}

.ant-card-head {
  border-bottom: 1px solid #535353 !important;
  margin-bottom: 0;
}

.smileyA:hover {
  background: #36393f;
}

.ant-collapse-arrow {
  color: #979797 !important;
}

label {
  font-size: large;
  font-weight: 600;
  color: #2c2c2c;
}

.titledactive {
  cursor: pointer;
  color: lightgrey !important;
}
.titllede:hover {
  color: lightgrey !important;
}
.titllede {
  color: #4d4d4d !important;
  cursor: pointer;
}

.ant-modal-header {
  background-color: #2c2c2c !important;
  border-bottom: 0 !important;
}

.ant-collapse-header {
  padding-bottom: 0 !important;
}

.ant-collapse-content-box {
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  padding-left: 6px !important;
}
.ant-dropdown-trigger {
  padding-left: 5px !important;
}

.notificationHandler {
  background: #36393f !important;
}

.ant-notification-notice-close-icon {
  color: #36393f !important;
}

.ant-notification-notice-message {
  color: #e2e2e2 !important;
  font-weight: bold;
  letter-spacing: 0.8px;
  padding-left: 5px;
}

.notificationReje {
  padding: 20px;
  border-radius: 5px;
}

.notificationReje:hover {
  cursor: pointer;
  background-color: #585858 !important;
}

.ant-badge-count {
  box-shadow: none !important;
  padding: 2px;
}

.message {
  height: calc(95vh -44px) !important;
}

.ant-badge-dot {
  right: 5px !important;
  top: 35px !important;
  width: 19px !important;
  height: 19px !important;
  box-shadow: none !important;
  border: 4px solid rgb(47, 49, 54) !important;
}

.panelContentRen {
  font-size: medium;
  padding: 4px 8px !important;
  margin-top: 2px;
  margin-left: 25px !important;
  border-radius: 8px;
  color: #999999;
  cursor: pointer;
  font-size: 0.97rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.panelContentRen:hover {
  color: #c4c2c2 !important;
  background-color: #42464d;
}

.dateDividerFix {
  margin-left: 20px !important;
}

.dateBorderDivider::before {
  border-top: 0.5px solid #42464d !important;
}
.dateBorderDivider::after {
  border-top: 0.5px solid #42464d !important;
}

.ant-divider-inner-text {
  color: #99a6a0 !important;
  font-size: 13px;
  font-weight: 600;
}

button:hover,
input[type='submit']:hover {
  color: #4b4040 !important;
  background-color: grey !important;
  cursor: pointer !important;
}

.paddingAvatarFix {
  padding: 0 !important;
}

.badgination {
  top: 5px !important;
  border: 4px solid #292b2f !important;
  border-radius: 50% !important;
  box-shadow: none;
}

.loreImg:hover {
  opacity: 0.8;
  cursor: pointer;
}

.camcam:hover {
  opacity: 0.8;
  cursor: pointer;
}
