@font-face {
  font-family: 'Medium'; /*Can be any text*/
  src: local('UniSansHeavyCAPS'), url('./UniSansHeavyCAPS.woff') format('woff');
}
body {
  margin: 0;
  font-family: 'Medium';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Medium';
}

.fixerJe:hover {
  color: #e5e5e5 !important;
  background-color: #42464d;
}
