.vocStyle {
    background-color: black !important;
    width: 65vw;
    height: 100vh;
}


.vocStyle button {
    display: none;  
}
.vocStyle Header{
    display: none;
}
.vocStyle:hover Header{
    font-size: 200%;
    display: inline ;
    background-color: black;
}



.vocStyle:hover button {
    display: inline;
    color: grey;
    border: none;
    font-size: x-large;
    cursor: pointer ;
    background-color: black;
}


#phone:hover , #audio:hover {
    color: white;
    font-size: 105%;
    
}

#volume:hover {
    font-size: 105%;
    color: white;
}

.volSider {
    display: 'inline-block';
    height: 100px;
}

.ProfilPic {
    display: inline table !important;
}
.ProfilPic:hover {
    opacity: 50% !important;
    
}
.vocStyle h1 {
    display: none;
}
.vocStyle:hover h1 {
    display: inline table !important;
    color: white !important;
}